.search-bar{
   font-size: 16px;
    height: 36px;
    flex: 1;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    margin-right: 0px;
    width: 0;
    
}
.search-bar::placeholder{
    font-family: Rboto, Arial;
     font-size: 16px;
     padding-left: 10px;
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.left-section{
align-items: center;
display: flex;


}
.middle-sectoin{

flex: 1;
margin-left: 70px;
margin-right: 35px;
max-width: 500px;
display: flex;
align-items: center;
}
.right-sectoin{
    display: flex;
    align-items: center;
    justify-content: space-between;
width: 200px;
flex-shrink: 0;
}
.humberger-menu{
    margin-left: 24px;
    margin-right: 20px;
    height: 24px;


}
.youtube-logo{
   
}
.voice-search-button{

    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);

}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;

}
.search-icon{
    height: 20px;
    margin-top: 4px;
}
.voice-search-icon{
    height: 24px;
    margin-top: 4px;
    
}
.upload-icon{
    height: 24px;

}
.youtube-apps-icon{
    height: 24px;
}
.notificatoins-icon{
    height: 24px;

}
.current-user-picture{
    height: 24px;
    border-radius: 16px;
    margin-right: 20px;
}